<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	
		<!-- 配置连接数据库的基本信息 -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_03</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		
		
		<!-- 配置hibernate的基本信息 -->
    	<!-- hibernate 所使用的数据库方言 -->
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>	
		<!-- 执行操作时是否在控制台打印SQL -->
    	<property name="show_sql">true</property>    	
    	<!-- 是否对SQL 进行格式化 -->
    	<property name="format_sql">true</property>    	
    	<!-- 自动建表 -->
    	<property name="hbm2ddl.auto">true</property>
    	<!-- 配置事务隔离级别 -->
    	<property name="hibernate.connection.isolation">4</property>
    	<!-- 配置当前线程绑定的Session -->
    	<property name="hibernate.current_session_context_class">thread</property>
    	
    	
    	
    	<!-- 引入映射文件 -->
    	<mapping resource="com/hibernate/domain/Customer.hbm.xml" />
    	<mapping resource="com/hibernate/domain/LinkMan.hbm.xml" />
    	
    	
	</session-factory>
</hibernate-configuration>